%p{:id=>"notice"}
    =notice

.row
    .col-md-9
        = image_tag(@user.picture_url, width: '100%') if @user.picture.present?
    .col-md-3
        %p
            %b Name:
            = @user.name
        %p
            %b distance:
            = @user.distance
        %p
            = link_to 'Edit', edit_user_path(@user)
            = link_to 'Destroy', @user, data: { confirm: 'Are you sure?' }, method: :delete
            = link_to 'Back', users_path
