%p#notice= notice
%p
  %strong Name:
  = @user.name
%p
  %strong Surname:
  = @user.surname
%p
  %strong Age:
  = @user.age
%p
  %strong Picture:
  = image_tag(@user.picture_url, width:600) if @user.picture.present?

%h3 Comments
=@comments.each do |comment|
  %div
    %strong
      = comment.user_name
    %br
    %p>
      = comment.body
    %p>
      = link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }
= render 'comments/form'


%p
  %strong Car:
  = @user.car
%p
  %strong Sex:
  = @user.sex
%p
  %strong Distance:
  = @user.distance
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
